@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.header, .footer{
    background-color: #1F2937;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    font-family: 'roboto';
}
/*Header*/
/*Header part A*/
.header{
    padding: 10px 150px 60px 150px;
    display: flex;
    flex-direction: column;
    gap:50px
}
.HA{
    display: flex;
}
.leftpart{
    color: #F9fAf8;
    font-size: 24px;
}
.rightpart{
    margin-left: auto;
}
.rightpart ul{
    display: flex;
    gap:10px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
/*Header Part B*/
.HB{
    display: flex;
    gap:20px;
}
.htext{
    padding-right: 160px;
    flex-wrap: wrap;
}
.hheading{
    color: #F9FAf8;
    font-weight: bolder;
    font-size: 48px;
}
.hcontent{
    color: #E5E7EB;
    font-size: 18px;
}
.HB button{
    background-color: #3882F6;
    color: white;
    border-style: none;
}
button{
    border-radius: 5px;
}
/*PartA*/
.PartA{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px ;
    padding-bottom: 80px;
}
.PAheading{
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}
.PAcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.illu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    font-size: 18px;
    text-align: center;
    width: 200px;
    gap: 10px;
}
/*Part B*/
.PartB{
    background-color: #E5E7EB;
    padding: 80px 270px 80px 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.PBcontent1{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.PBcontent2{
    font-weight: bolder;
}